*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Segoe UI, sans-serif;
    background:linear-gradient(135deg,#1e3c72,#2a5298);
}

.card{
    width:450px;
    padding:40px;
    text-align:center;

    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(15px);

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,0.3);

    color:white;
}

h1{
    margin-bottom:15px;
    font-size:2.5rem;
}

p{
    margin-bottom:25px;
    font-size:1.1rem;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:30px;

    background:white;
    color:#2a5298;

    font-size:1rem;
    font-weight:bold;

    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.1);
}